<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">


<section class="container" ng-controller="ContatoController as contatoController">
    <h1>Contatos</h1>
    <form>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" placeholder="José Silva" ng-model="contatoController.contato.nome">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="tel" class="form-control" placeholder="(11) 91234-5678"
                   ng-model="contatoController.contato.telefone">
        </div>

        <button type="submit" class="btn btn-primary" ng-click="contatoController.adicionarContato()">Salvar</button>
    </form>
    <hr>
    <h3 ng-show="contatoController.contatos.length == 0">Nao ha contatos cadastrados.</h3>
    <table class="table" ng-show="contatoController.contatos.length > 0">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contato in contatoController.contatos">
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>
                <button class="btn btn-danger btn-xs" ng-click="contatoController.removerContato($index)">remover
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</section>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="../libs/angular/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="../libs/jquery/dist/jquery.min.js"></script>
<script src="../libs/tether/dist/js/tether.min.js"></script>
<script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="app.js"></script>
<script src="controller/ContatoController.js"></script>
</body>
</html>
